
@{
   
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model Category
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-center">Create Category</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="col-xs-4 " style="text-align:center">
			<label asp-for="CategoryName"></label>
			<input asp-for="CategoryName" class="form-control col-xs-4"  />
			<span asp-validation-for="CategoryName" class="text-danger col-xs-4"></span>
		</div>
	
  		<button type="submit" class="btn btn-primary " style="width:150px ">Create</button>


		<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>




